.container {
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.project {
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
    width: 270px;
    height: 289px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    line-height: 145.4%;
}
.project p {
    width: 252px;
    padding-top: 10px;
    padding-bottom: 25px;
}
.project_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}

.moreInf {
    cursor: pointer;
    color: #FE5151
}
.project_title{
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (max-width: 880px){
    .container{
        
    }
}