@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
    margin-top: 100px;
    height: 670px;
    background: #FAFAFA;
}

.connection p {
    padding-top: 75px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}

.types_of_communication {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.social_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 257px;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.lable {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.communication {
    margin-top: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #9A9A9A;
}

.btn {
    margin-top: 23px;
    background: #29A9EA;
    width: 201px;
    height: 44px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 6px 20px rgba(41, 169, 234, 0.15);
    border-radius: 10px;
}

.social {
    margin: 80px auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 700px;
    width: 100%;
    align-items: center;
}
.emailimg{
    height: 117px;
    padding-top: 23px;
}
@media(max-width: 480px) {
  .social {
    flex-direction: column;
  }
}

.social a {
  padding: 10px 15px;
  border-radius: 12px;
  transition: background .3s;
}

.social a:hover {
  background-color: #f3f3f3;
}

.social p {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

}

.github {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.discord {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.instagram {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@media (max-width: 1200px) {
    .types_of_communication {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social_block {
        margin-bottom: 40px;
    }

    .wrapper {
        height: max-content;
    }

    .social {
        max-width: 500px;
        padding-bottom: 30px;
    }
}

@media (max-width: 420px) {
    .social {
        max-width: 300px;
    }

    .contact_List {
        position: relative;
    }

    .contact_List:before {
        content: '';
        height: 1px;
        width: calc(100%);
        background-color: red;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
    }

    .contact_List:hover:before {
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.25s ease-in-out;
    }
}