.popupWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: opacity .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .container {
    max-width: 500px;
    
    background: white;
    box-shadow: 0px 5px 30px rgba(0,0,0, 0.05);
    border-radius: 25px;
    padding: 28px;
    padding-top: 55px;
    padding-bottom: 55px;
    z-index: 99999;
    position: relative;
    @media(max-width: 520px) {
      margin-left: 15px;
      margin-right: 15px;
    }
    .close {
      font-size: 42px;
      text-align: right;
      position: absolute;
      right: 25px;
      top: 12px;
      opacity: .4;
      cursor: pointer;
      transition: opacity .3s;
      &:hover {
        opacity: .8;
      }
    }
    h1 {
      font-size: 22px;
      color: #333333;
      line-height: 1.4;
      text-align: center;
      max-width: 450px;
      margin: 0;
      padding: 0;
      @media(max-width: 400px) {
        font-size: 18px;
      }
    }
    input, button {
      max-width: 386px;
      width: calc(100% - 15px);
      height: 46px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      display: block;
      margin: 0 auto;
      padding-left: 14px;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      margin-top: 15px;
      @media(max-width: 400px) {
        height: 40px;
      }
      &::placeholder {
        opacity: 1;
        color: #929292;
      }
    }
    button {
      padding-left: 0;
      width: 100%;
      border: none;
      background: #FF5E5E;
      font-weight: bold;
      color: white;
      font-size: 16px;
      max-width: 404px;
      cursor: pointer;
      transition: background .3s;
      @media(max-width: 400px) {
        font-size: 14px;
      }
      &:hover {
        background: #ee5353;
      }
      &:active {
        background: #df4848;
      }
    }
  }
}

.popupWrapperActive {
  z-index: 9999;
  opacity: 1;
}